@model IEnumerable<FirmaAdvocacia.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Processos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                @if (item.ClientesProcessos != null && item.ClientesProcessos.Any())
                {
                    foreach (var cp in item.ClientesProcessos)
                    {
                        @cp.ProcessoOrigem?.Descricao <br />
                    }
                }
                else
                {
                    <i>Nenhum</i>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
