@model IEnumerable<FirmaAdvocacia.Models.Processo>

@{
    ViewData["Title"] = "Processos";
}

<h1>Processos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAbertura)
            </th>
            <th>
                Clientes
            </th>
            <th>
                Advogados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAbertura)
            </td>
            <td>
                @if (item.ClientesProcessos != null && item.ClientesProcessos.Any())
                {
                    foreach (var cp in item.ClientesProcessos)
                    {
                        @cp.ClienteOrigem?.Nome <br />
                    }
                }
                else
                {
                    <i>Nenhum</i>
                }
            </td>
            <td>
                @if (item.AdvogadosProcessos != null && item.AdvogadosProcessos.Any())
                {
                    foreach (var ap in item.AdvogadosProcessos)
                    {
                        @ap.AdvogadoOrigem?.Nome <br />
                    }
                }
                else
                {
                    <i>Nenhum</i>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcessoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcessoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcessoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
